body {
  margin: 0;
  padding: 0;
  background-color: #edefec;
}

.container {
  display: flex;
  width: 60%;
  min-width: 500px;
  margin-inline: auto;
  margin-top: 5%;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.hidden {
  display: none;
}
.chat {
  width: 100%;
}
.chat__header {
  text-align: center;
  margin-bottom: 10px;
  color: #100c08;
}

.chat__connect {
  width: 150px;
  margin-left: auto;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: #dee2e1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 40px;
  cursor: pointer;
}

.chat__container {
  /* width: 90%; */
  height: 550px;
  /* margin-left: auto;
  margin-right: auto; */
  border: 1px solid #e2e5e9;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.chat__area {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
}

.chat__messages-container {
  flex: 0 0 90%;
  border-top-left-radius: 7px;
  overflow-y: auto;
  padding: 5px;
  box-sizing: border-box;
}

.form__group {
  display: flex;
}

.chat_send {
  width: 20%;
  border: 1px solid #c9cacc;
  border-radius: 5px;
}

.chat_send:hover {
   background-color: #e0e6da;;
}

.form__input {
  margin-top: 8px;
  border-color: #e2e5e9;
}

.chat__userlist {
  background-color: #edefec;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  width: 30%;
  height: 300px;
  margin-top: 15%;
}

.chat__user {
  width: 90%;
  padding: 5px 0;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #e0e6da;
}

.message__container {
  width: 80%;
  margin-bottom: 10px;
}

.message__header {
  font-size: 14px;
}

.message__container-yourself {
  margin-left: auto;
  margin-right: 1%;
  text-align: right;
}

.message__container-yourself .message__header {
  color: #9bc274;
}

.message__container-interlocutor {
  margin-right: auto;
  text-align: left;
}

.widget {
  width: 40%;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 250px);
}

.input_name {
  width: 80%;
  align-self: center;
  height: 30px;
  border-radius: 3px;
}

.submit_name {
  width: 80%;
  align-self: center;
  height: 30px;
  background-color: grey;
  margin: 7px;
  border-radius: 3px;
  transition-property: background-color;
  transition-duration: 1s;
}

.submit_name:hover {
  background-color: lightgray;
  cursor: pointer;
}

.error_message {
  align-self: center;
  padding: 1%;
  color: red;
}